{{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="card form-control" style="width: 18rem; margin: auto">
        <div class="card-body" >
            <h5 class="card-title">Save the changes</h5>
            <p class="card-text">Enregistrer  les changements</p>
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </div>
<br>

{{ form_end(form) }}
<script>
    let children = document.getElementById('user1_roles').childNodes;
    for (let i = 0; i < children.length; i++) {
        if (children[i].nodeName === 'INPUT'){
            children[i].className += "btn-check ";
        }
        else if (children[i].nodeName === 'LABEL'){
            children[i].className += "btn btn-outline-warning";
        }
    }
</script>

